/* red-hat-text-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-text-v18-latin-regular.woff2") format("woff2");
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-text-v18-latin-600.woff2") format("woff2");
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-hat-text-v18-latin-700.woff2") format("woff2");
}

:root {
  --color-red: #c7380f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  --color-black: #000000;
  --color-white: #ffffff;

  --font-red-hat-text: "Red Hat Text", sans-serif;

  /* Text Preset 1 - Bold */
  --text-preset-1-size: 5.6rem;
  --text-preset-1-line-height: 1.2;
  --text-preset-1-letter-spacing: 0;
  --text-preset-1-weight: 700;

  /* Text Preset 2 - Bold */
  --text-preset-2-size: 2.4rem;
  --text-preset-2-line-height: 1.25;
  --text-preset-2-letter-spacing: 0;
  --text-preset-2-weight: 700;

  /* Text Preset 3 - Semi Bold */
  --text-preset-3-size: 1.6rem;
  --text-preset-3-line-height: 1.5;
  --text-preset-3-letter-spacing: 0;
  --text-preset-3-weight: 600;

  /* Text Preset 4 - Regular */
  --text-preset-4-size: 1.4rem;
  --text-preset-4-line-height: 1.5;
  --text-preset-4-letter-spacing: 0;
  --text-preset-4-weight: 400;

  /* Text Preset 4 Bold - Semi Bold */
  --text-preset-4-bold-size: 1.4rem;
  --text-preset-4-bold-line-height: 1.5;
  --text-preset-4-bold-letter-spacing: 0;
  --text-preset-4-bold-weight: 600;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: cover;
  display: flex;
  width: 100%;
}

body {
  background-color: var(--color-rose-50);
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  font-weight: var(--text-preset-3-weight);
  font-family: "Red Hat Text", sans-serif;
}

.container {
  display: flex;
  gap: 3.2rem;
  width: 100%;
  max-width: 127.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

.dessert__container {
  display: flex;
  flex-direction: column;
}

.desserts {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 3.2rem;
  color: var(--color-black);
}

.card {
}

.card__image {
  border-radius: 0.8rem;
  width: 100%;
  border: 2px solid transparent;
}

.card__image.active {
  border-color: var(--color-red);
}

.card_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.card__add_to {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 999px;
  border: 1px solid var(--color-rose-400);
  cursor: pointer;
  padding: 1.2rem;
  width: 160px;
  font-family: inherit;
  margin-top: -22px;
  position: relative;
  gap: 0.8rem;
  z-index: 100;

  & img {
    width: 20px;
    height: 20px;
  }
  span {
    flex-shrink: 0;
    font-weight: 600;
    font-size: var(--text-preset-4-bold-size);
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card__btns-amount {
  background-color: var(--color-red);
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-radius: 999px;
  margin-top: -22px;
  color: var(--color-white);
  align-items: center;
}

.card__btn-amount {
  background: transparent;
  border: 0;
  border: 1px solid var(--color-white);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white);
  }

  &:hover svg path {
    fill: var(--color-red);
  }
}

.card__category {
  font-weight: var(--text-preset-4-weight);
  font-size: var(--text-preset-4-size);
  color: var(--color-rose-500);
}
.card__name {
  font-weight: var(--text-preset-3-weight);
  font-size: var(--text-preset-3-size);
  color: var(--color-rose-900);
}
.card__price {
  font-weight: var(--text-preset-3-weight);
  font-size: var(--text-preset-3-size);
  color: var(--color-red);
}

.your-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2.4rem;
  background-color: var(--color-white);
  border-radius: 1.2rem;
  padding: 2.4rem;
  height: max-content;
}
.your-card__title {
  font-weight: var(--text-preset-2-weight);
  font-size: var(--text-preset-2-size);
  color: var(--color-red);
}
.your-card__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.your-card__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.your-card__item-title {
  font-size: var(--text-preset-4-size);
  color: var(--color-rose-900);
  margin-bottom: 0.8rem;
}
.your-card__item-information {
  display: flex;
  gap: 0.8rem;
  font-size: var(--text-preset-4-size);
}
.your-card__item-information-count {
  color: var(--color-red);
}
.your-card__item-information-price {
  color: var(--color-rose-500);
  font-weight: var(--text-preset-4-weight);
}
.your-card__item-information-totalPrice {
  color: var(--color-rose-500);
}
.your-card__item-clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-rose-400);
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;

  &:hover {
    border-color: var(--color-rose-900);

    svg path {
      fill: var(--color-rose-900);
    }
  }
}
.your-card__item-line {
  background-color: var(--color-rose-100);
  width: 100%;
  height: 1px;
}

.your-card__order-total {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-rose-900);
}
.your-card__order-total-title {
  font-weight: var(--text-preset-4-weight);
  font-size: var(--text-preset-4-size);
}
.your-card__order-total-price {
  font-weight: var(--text-preset-1-weight);
  font-size: var(--text-preset-2-size);
}
.your-card_carbon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: var(--color-rose-50);
  gap: 0.8rem;
  font-weight: var(--text-preset-4-weight);
  margin-bottom: 2.4rem;

  & img {
    width: 20px;
    height: 20px;
  }

  & span {
    font-weight: var(--text-preset-3-weight);
  }
}
.your-card__confirm {
  display: flex;
  justify-content: center;
  background-color: var(--color-red);
  width: 100%;
  padding: 1.6rem 2.4rem;
  border-radius: 999px;
  color: var(--color-white);
  border: none;
  font-weight: var(--text-preset-3-weight);
  cursor: pointer;
  &:hover {
    background: linear-gradient(
        0deg,
        var(--color-red, #c73b0f),
        var(--color-red, #c73b0f)
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  }
}

.your-card__empty {
  display: flex;
  padding: 1.6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;

  & img {
    width: 128px;
    height: 128px;
  }

  & p {
    font-size: var(--text-preset-4-bold-size);
    color: var(--color-rose-500);
  }
}

.order__confirmed-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4a48486f;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
}

.order__confirmed {
  width: 100%;
  max-width: 592px;
  background-color: var(--color-white);
  border-radius: 1.2rem;
  padding: 4rem;
}

.order__confirmed__active__list {
  max-height: 240px;
  overflow-y: auto;
}

.order__confirmed-info-image {
  width: 48px;
  height: 48px;
  margin-bottom: 2.4rem;
}

.order__confirmed-info-texts {
  margin-bottom: 3.2rem;
}

.order__confirmed-info-texts-title {
  font-weight: var(--text-preset-2-weight);
  font-size: 4rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  color: var(--color-rose-900);
}

.order__confirmed-info-texts-description {
  color: var(--color-rose-500);
  font-weight: var(--text-preset-4-weight);
}

.order__confirmed-list-wrapper {
  background-color: var(--color-rose-50);
  padding: 2.4rem;
  margin-bottom: 3.2rem;
  border-radius: 0.8rem;
}

.order__confirmed__active__item-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  margin-bottom: 1.6rem;
}

.order__confirmed__active__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.order__confirmed__active__image {
  width: 48px;
  height: 48px;
}

.order__confirmed__active__title {
  color: var(--color-rose-900);
  font-size: var(--text-preset-4-size);
}

.order__confirmed__active-info {
  display: flex;
  gap: 0.8rem;
  font-size: var(--text-preset-4-size);
}

.order__confirmed__active__count {
  color: var(--color-red);
}

.order__confirmed__active__price-wrapper {
  color: var(--color-rose-500);
  font-weight: var(--text-preset-4-weight);
}

.order__confirmed__active__allPrice {
  position: absolute;
  right: 0;
  color: var(--color-rose-900);
}

.order__confirmed-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red);
  border-radius: 999px;
  width: 100%;
  border: none;
  padding: 1.6rem 2.4rem;
  cursor: pointer;
  color: var(--color-white);
  font-weight: var(--text-preset-3-weight);
}

.order__confirmed-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-rose-100);
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .desserts {
    width: 100%;
    max-width: 100%;
  }
  .your-card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .dessert {
    row-gap: 2.4rem;
  }
}
